<% provide(:title, 'About') %>
<h1>About SWAT</h1>
<p>This application provides an interface for easily tracking and capturing leader standard work (LSW) audits in a plant.  The application provides a tablet-friendly front-end for plant team members to capture their audit results while out on the plant floor, and a method for tracking followups associated with failed LSW audit items.
</p>

