<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>For help with administration of this application, please contact <a href="mailto:benjamin.johnson@kraftfoods.com">Ben Johnson</a>.  If you are an end user of this application, please contact your site owner / SWAT champion.
</p>

