<% provide(:title, 'Home') %>
<h1>SWAT Application</h1>
<p>Welcome to the SWAT (Standard Work Audit Tool) Application.  For more information about this application, please visit <a href="https://collaboration.kraft.com/sites/StandardWorkSWAT/">the SWAT homepage</a>.</p>
